@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'assets/styles/main';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    @apply bg-slate-50;
}

.mat-mdc-card {
  box-shadow: theme('boxShadow.md') !important;
  border-radius: theme('borderRadius.xl') !important;
  border: none !important;
}